<!doctype html>
{% extends 'base.html' %}

{% block content %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.datatables.net/v/bs5/dt-2.1.6/b-3.1.2/b-colvis-3.1.2/sl-2.0.5/datatables.min.css" rel="stylesheet">

    <title>Osrs Items</title>
  </head>
  <body>
  <br>
  <div class="container text-center">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-8" style="border-style:ridge; border-color: gray; border-width: 7px">
          <table id="myTable" class="display">
            <thead>
                <tr>
                    <th style="text-align: center"> ID </th>
                    <th style="text-align: center"> Name </th>
                    <th style="text-align: center"> Buy Limit </th>
                    <th style="text-align: center"> High Alch </th>
                    <th style="text-align: center"> High Price </th>
                    <th style="text-align: center"> Low Price </th>
                    <th style="text-align: center"> Margin </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Buy Limit</th>
                    <th>High Alch</th>
                    <th>High Price</th>
                    <th>Low Price</th>
                    <th>Margin</th>
                </tr>
            </tbody>
          </table>

          <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
          <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
          <script src="https://cdn.datatables.net/v/bs5/dt-2.1.6/b-3.1.2/b-colvis-3.1.2/sl-2.0.5/datatables.min.js"></script>

          <script>
                $(document).ready(function () {
                  var table = $('#myTable').DataTable({
                      ajax: '/api/data',
                      pageLength: 25,
                      order: [[6, 'desc']],
                      columns: [
                          {data: 'id'},
                          {data: 'name'},
                          {data: 'buy_limit', searchable: false, 'render': ['number', ',', '.', 0]},
                          {data: 'high_alchemy', searchable: false, 'render': ['number', ',', '.', 0]},
                          {data: 'high', 'render': ['number', ',', '.', 0]},
                          {data: 'low', 'render': ['number', ',', '.', 0]},
                          {
                            data: 'margin',
                            'render': function(data, type, row) {
                                var color = data >= 0 ? 'green' : 'red';
                                return '<span style="color:' + color + '">' + data.toLocaleString() + '</span>';
                            }
                          }
                      ]
                  });
                });
          </script>


      </div>
      <div class="col">
      </div>
    </div>
  </div>
  </body>
</html>
{% endblock %}